<main class="main">
    <div class="left-bar">
        <div class="left-bar__menu-icon-wrapper">
            <img src="img/burger.png" class="left-bar__menu-icon" />
        </div>
        <div class="logo-wrapper">
            <p class="logo-text">MUSIC LIBRARY</p>
        </div>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slide">
                <div class="slide__text-box">
                    <h4 class="slide__text-from">BILLBOARD</h4>
                    <h2 class="slide__text-heading"><a href="/article/1">Billie Eilish woman of the Year!</a></h2>
                </div>
            </div>
        </div>
    </div>
</main>
