.slider {

  width: 100vw;
  height: 100vh;

  &-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.slide {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__text-source {
    background: white;
  }

  &__text-box {
    font-family: $baskervville;
    text-align: right;
    margin: 5rem;

    display: block;
  }

  &__text-source {
    font-size: 1.4rem;
    letter-spacing: .1rem;

    margin-bottom: .3rem;
    padding: .4rem;
    display: inline-block;
  }

  &__text-heading {
    a {
      background: white;
      padding: 1rem;

      display: inline-block;
      max-width: 70vw;
      width: auto;

      color: $primary;
      font-size: 3rem;
      font-weight: 300;

      text-decoration: none;
    }
  }
}
