<header class="header">
    <div class="container header__container">

        <p class="header__title">MUSIC LIBRARY</p>

        <div class="header__buttons">
            <a href="/login" class="header__button">LOGIN</a>
        </div>

    </div>
</header>
