.left-bar {
  background-color: rgba(233, 233, 233, 0.6);
  padding: 10px;
  transition: all .3s ease;

  position: absolute;
  left: 0;
  top: 0;

  width: 5%;
  height: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  max-width: 30px;

  user-select: none;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &__menu-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-icon {
    cursor: pointer;

    max-width: 30px;
  }
}

.logo {
  &-wrapper {
    position: relative;
  }

  &-text {
    font-size: 1.2rem;
    font-family: $baskervville;
    letter-spacing: 1.4px;

    position: absolute;
    left: -78px;
    top: calc(100vh - 180px);

    width: 188px;
    transform: rotate(-90deg);
  }
}
