<!doctype html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Music Library</title>

    <script src="js/main.js" type="module"></script>
    <link rel='stylesheet' href="css/index.css" type="text/css" />
</head>
<body>

    {{{body}}}

</body>
</html>
