<div class="news">
    <h2 class="news__heading">NEWS</h2>
    <ul class="news__list">
        <li class="news__element">
            <p class="news__title">Billie Eilish to win AMAs</p>
            <p class="news__desc">
                Young artist won the AMA for Best New Artist last night...
            </p>
        </li>
        <li class="news__element">
            <p class="news__title">GAGA to win AMAs</p>
            <p class="news__desc">
                Young artist won the AMA for Best New Artist last night...
            </p>
        </li>
        <li class="news__element">
            <p class="news__title">Katy Perry's fool</p>
            <p class="news__desc">
                Long lasting diva
            </p>
        </li>
        <li class="news__element">
            <p class="news__title">Mariah Carey</p>
            <p class="news__desc">
                All I Want For Christmas is You
            </p>
        </li>
    </ul>
</div>
