<form method="post" id="loginForm" action="/user">
    <input name="username" type="text" id="loginInput"/>
    <input name="passwd" type="password" id="loginPasswd"/>
    <input type="submit" value="Loguj"/>
</form>
