<form method="post" id="loginForm" action="/login">
    <input name="login" type="text" id="loginInput" />
    <input name="passwd" type="password" id="loginPasswd" />
    <input type="submit" value="Loguj" />
</form>
